/* style.css
 * This file provides css styles.
 */
body, html {
	background-color: #00C78C;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

a {
	text-decoration: none;
	color: #00aed1;
}

a:hover {
	text-decoration: underline;
}

.newappIcon {
	padding-top: 10%;
	display: block;
	margin: 0 auto;
	padding-bottom: 2em;
	max-width: 200px;
}

h1 {
	font-weight: bold;
	font-size: 2em;
	transition-timing-function: ease;
	-webkit-transition: color 2s;
	-moz-transition: color 2s;
	transition: color 2s;
	color: blue;
}

h1:hover {
	color: red;
}

.leftHalf {
	float: left;
	background-color: #26343f;
	width: 45%;
	height: 100%;
}

.rightHalf {
	float: right;
	width: 55%;
	background-color: #313f4a;
	height: 100%;
	overflow: auto;
}

.description {
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
	font-size: 1.2em;
}

.blue {
	color: #00aed1;
}

table {
	table-layout: fixed;
	width: 800px;
	margin: 0 auto;
	word-wrap: break-word;
	padding-top: 10%;
}

th {
	border-bottom: 1px solid #000;
}

th, td {
	text-align: left;
	padding: 2px 20px;
}

.env-var {
	text-align: right;
	border-right: 1px solid #000;
	width: 30%;
}

pre {
	padding: 0;
	margin: 0;
}
div#map {
	height: 700px;
	width: 900px;
}

form{
	text-align: center;
	margin: 0 auto;
	width: auto;
	height: auto;
	top: 20%;
	right: 0;
	left: 0;
	position: absolute;
}

#help_text{
	font-family: Helvetica;
	font-size: 40px;
}
#result_title{
	font-family: Garamond;
	text-align:right;
	font-size:30px;
	padding-right: 45px;
}
#submit_button{
	padding: 10px 15px 11px !important;
font-size: 18px !important;
background-color: #57d6c7;
font-weight: bold;
text-shadow: 1px 1px #57D6C7;
color: #ffffff;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: 1px solid #57D6C7;
cursor: pointer;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

#text_box{
	background-color: #fff;
  border-color: #fcd525;
	-webkit-border-radius: 3px;
	    border-radius: 3px;
	    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
	    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
	    border-width: 5px;
	    border-style: solid;
	    color: #474e57;
	    font-size: 16px;
	    font-weight: 400;
	    padding: 10px;
	    width: 80%;
}
