<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <img src="../assets/kemba-funny.jpeg" alt="KEMBA" style="width:304px;height:228px;">
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script src="../scripts/mapscript.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiCpyAFJU7BtKPinGJHgRC8fhNV_quTGY&callback=initMap">
    </script>
    <p>Enter radius:</p>
    <form>Radius: <input type="number" name="radius" id="radius">
        <input type="submit" value="Submit" onclick="">
    </form>
  </body>
</html>
