<!DOCTYPE html>

<html>
<head>
	<title>Tweeter</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
</head>
<body>
	<form method="POST" action="">
		Subject:
		<input type="text" name="subject">
		<input type="submit" value="Submit">
	</form>


	<h1>Hello I love you</h1>
	<a class="twitter-timeline"  href= {{ subject }} data-widget-id="797582666010796032">#{{ name }} Tweets</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</body>
</html>
